<div class="row g-3">
  <div>
  {{logged_in.id}}
  </div>
  {{#each boardGameReviews as |review| }}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
  {{> reviewCard }}
      </div>
    </div>
  {{/each}}
</div>