<div class="row g-3">
  {{#each cardGameReviews as |review| }}
    <div class="col-12 col-md-6 col-lg-4" id="cardGame">
      <div class="card border-0 bg-dark">
 {{> reviewCard }}
      </div>
    </div>
  {{/each}}
</div>