<h2>Create Post</h2>
<form class="form post-form">
    <div class="form-group">
        <label for="post review title">Post Title</label>
        <input class="form-input" type="text" id="review-title" />
    </div>
    <div class="form-group">
        <label for="post game title">Game Title</label>
        <input class="form-input" type="text" id="game-title" />
    </div>
    <div class="form-group">
        <label for="post body">Body</label>
        <input class="form-input" type="text" id="post-body" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Image</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
</form>