<h2>Create Post</h2>
<form id="createPost" class="form post-form">
    <div class="form-group">
        <label for="reviewTitle">Post Title</label>
        <input class="form-input" type="text" id="reviewTitle" />
    </div>
    <div class="form-group">
        <label for="gameTitle">Game Title</label>
        <input class="form-input" type="text" id="gameTitle" />
    </div>
    <div class="form-group">
        <label for="category">Categories</label>
        <select class="custom-select mr-sm-2" id="category">
            <option selected disabled>Choose Category...</option>
            <option value="1">Board Game</option>
            <option value="2">Card Game</option>
            <option value="3">Video Game</option>
        </select>
    </div>
    <div class="form-group">
        <label for="body">Content</label>
        <textarea id="body" type="text" class="form-control" name="body"></textarea>
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control-file" id="image">
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

 <script src="/js/create.js"></script>