<div id="dashboard" class="row g-3">
  {{#each reviews as |review|}}
    <div class="col-12 col-md-6 col-lg-4">
      {{>reviewCard }}
    </div>
  {{/each}}
</div>

<script src="/js/delete.js"></script>