<div class="row g-3">

{{#each reviews}}
<div class="col-12 col-md-6 col-lg-4">
  <div class="card bg-dark">
    {{> reviewCard }}
    <div id="cardFooter">{{category.title}}</div>
  </div>
</div>
{{/each}}
</div>