<div class="row g-3">
  {{#each videoGameReviews as |review| }}
    <div class="col-12 col-md-6 col-lg-4" id="videoGame">
      <div class="card border-0 bg-dark">
  {{> reviewCard }}
      </div>
    </div>
  {{/each}}
</div>